/*
* {
  margin: 0;
  padding: 0;
}
  */

#dialog {
  /*border: 1px solid black*/
}

body {
  padding: 10px;
}

h1 {
    font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
    font-size: 16px;
}

p,h2,h3,th,td,a {
    font-family: 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
    font-size: 11px;
}

table {
    width: 600px;
    background: #fff;
    text-align: left;
    border-spacing: 0px;
    border: 1px solid #aeb3b6;
    border-collapse: collapse;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 3px 7px #000;
	-moz-box-shadow: 0px 3px 7px #000;
	box-shadow: 0px 3px 7px #000;

    
}

th
{
    border-left: 1px solid #aeb3b6;
    border-right: 1px solid #aeb3b6;
    border-bottom: 1px solid #aeb3b6;
    background-color: #ddd;
    text-align: center;
    height: 10px;
    vertical-align:center;
    padding: 5px 5px;
}

td
{
    border-left: 1px solid #aeb3b6;
    border-right: 1px solid #aeb3b6;
    border-bottom: 1px solid #aeb3b6;
    padding: 10px 10px;
    text-align: center;
    height: 10px;
    vertical-align:center;
    padding: 5px 5px;
}

td.green {
    color: green;
}

p.event {
    padding-bottom: 3px;
}
